# OS
.DS_Store

# Python
venv/
.venv/
__pycache__/
*.pyc

# backend専用
/backend/.env
/backend/.pytest_cache/

/backend/migrations/

# Node / Vue
node_modules/
dist/
coverage/
*.tsbuildinfo

# Flutter
.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
